
bin
bin/*

obj
obj/*

*.cache

.vs
.vs/*

*.vsidx
/oecu-GoogleDriveShareChecker/obj/Debug/net8.0-windows/oecu-GoogleDriveShareChecker.AssemblyInfo.cs
/oecu-GoogleDriveShareChecker/obj/Debug/net8.0-windows/oecu-GoogleDriveShareChecker.AssemblyInfoInputs.cache
